[Unit]
Description=Startup default powerduck profiles on boot

[Service]
Type=oneshot
ExecStart=/opt/powerduck/powerduckling -d; /opt/powerduck/idleduck
RemainAfterExit=true
Restart=on-failure

[Install]
WantedBy=default.target
